body {
    background-color: navy;
    margin: 0;
    font-family: 'Arial', serif;
}

h1 {
    margin-top:0;
}

#avatarPicker {
    text-align: center;
}

#content {
    background-color: white;
    width: 1024px;
    margin: 0 auto;
    min-height: 768;
    padding: 32px;
    position: relative;
}

#pickerInputDiv {
    display: inline;
}

#avatarName {
    border: 5px solid silver;
    margin: 24px;
    padding: 8px;
    font-size: 32px;
    height: 64px;
    width: 300px;
}

#avatarName:hover {
    border: 5px solid grey;
}

#joinButton {
    padding: 16px;
    font-size: 32px;
    height: 88px;
    width: 150px;
    border: none;
    background-color: silver;
    border: 5px solid silver;
}

#joinButton:hover {
    border: 5px solid grey;
}

#chat {
    display: none;
    top: 100px;
    left: 132px;
    position: absolute;
    width: 824px;
    padding: 16px;
    background-color: grey;
    border: 1px solid black;
    z-index: 2;
    float: left;
    text-align: center;
}

#chattext {
    font-size: 24pt;
    width: 768px;
}

#canvasDiv {
    position: relative;
    top: 0px;
    left: 0px;
    display: none;
    z-index: 1;
    clear: both;
}

#avatarCanvas {
    background-color: silver;
}

.avatar {
    border: 5px solid silver;
    margin: 5px;
    padding: 5px;
    vertical-align:bottom;
}

.avatar:hover {
    border: 5px solid grey;
}

.selectedAvatar {
    border: 5px solid blue;
    background-color: cyan;
}

.selectedAvatar:hover {
    border: 5px solid navy;
}
